@use 'mixins';
@use 'variables';

header {
	@include mixins.flexCenter(column, blue);

	button {
		background: variables.$primaryBtn;

		&:hover {
			background-color: #009966;
		}

		&::before {
			content: '::before';
			background-color: #777ccc;
		}
	}
}
