html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li, ol, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e3e4e8;
    font-family: Arial, Helvetica, sans-serif;
}
h1::first-letter {
    color: #ae4b5d;
}
input::placeholder {
    color: #757575;
    padding-left: 10px;
}
input:focus {
    padding-left: 10px;
    color: #757575;
}
.menu-center input:focus {
    color: #757575;
}
/* ==========HEADER-ВВЕРХ========== */
header {
    display: flex;
    justify-content: space-around;
    height: 72px;
    background: linear-gradient(to top, #2d323c, #2d323c, #343f48);
    width: 100%;
}
.container-header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.top-text {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}
.pod-text {
    color: #656f7a;
    font-size: 14px;
    margin-top: -4px;
}
.h1-top {
    color: #a5adb8;
    font-size: 30px;
    font-weight: bold;
}
.search {
    background: #24272d;
    border: 1px solid #835d64;
    border-radius: 3px;
    margin-right: 10px;
    height: 30px;
    width: 200px;
}
.sear {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.sear a {
    padding-top: 3px;
}
/* ==========HEADER-ТОП========== */
.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 60%; */
    width: 1200px;
    height: 240px;
    background: rgb(99, 99, 99);
    background-image: url("../Img/header_bgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.top1 { 
    padding-left: 40px;
    width: 50%;
}
.text1 {
    margin-bottom: 20px;
}
.text2 {
    color: #a5adb8;
}
.text3 {
    margin-top: 5px;
    font-size: 14px;
    color: #d9dcdf;
}
.text1, .text2 {
    font-weight: bold;
    font-size: 18px;
}
/* ==========NAV-МЕНЮ========== */
nav {
    display: flex;
    justify-content: flex-end;
    /* width: 60%; */
    width: 1200px;
    background: #95161f;
}
nav a {
    text-decoration: none;
    color: white;
}
nav li {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 1.5%;
    list-style-type: none;
}
.Contact {
    margin-right: 20px;
}
/* ==========ARTICLE-МЕНЮ========== */
.Article-top li {
    list-style-type: none;
}
.Article-top a {
    color: #95161f;
}
.Article-top p {
    color: #6b6f74;
}
.Article-top {
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
    /* width: 60%; */
    width: 1200px;
    background: #f3f3f3;
    padding: 10px 0;
}
.leftLi {
    padding-left: 22px;
    padding-right: 5px;
}
.centerLi {
    padding: 0 5px;
}
/* ==========ASIDE-МЕНЮ========== */
.left-menu li {
    list-style-type: none;
}
.container-section {
    display: flex;
    background: white;
    /* width: 60%; */
    width: 1200px;
}
.left-menu {
    margin: 22px 15px;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    width: 210px;
    /* width: 400px; */
}
.left-menu .menu-left h2 {
    margin: 15px 13px;
}
.menu-left {
    border: 1px solid #d8dbde;
    background: #f3f3f3;
    padding-bottom: 30px;
    margin-bottom: 25px;
}
.menu-left input, select {
    margin-bottom: 12px;
    width: 180px;
    height: 30px;
    background: #e3e4e5;
    border-radius: 5px;
    border: none;
    border-top: 1px solid #a5adb8;
    border: 1px solid #fffcfc;
}
input {
    color: #757575;
}
.menu-left select {
    border: none;
    border: 1px solid #a2a2a2;
}
select {
    color: #757575;
    padding-left: 5px;
}
.clickRED {
    background: #95161f;
    box-shadow: 0px 4px 5px rgb(119, 115, 115);
    font-size: 16px;
    margin-top: 17px;
    border: 6px solid #ffffff;
}
.clickRED a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 12px 15px;
}
.menu-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.aside-bottom {
    margin-bottom: 14px;
}
/* ==========ARTICLE-ВЕРХ========== */
.container-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 18px;
}
.Right-top-link {
    color: #95161f;
}
/* ==========SECTION-КАРТИНКИ========== */
.section-center {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 22px 0 58px 0;
    padding-right: 26px;
}
.container-screen {
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
    /* width: 80%; */
}
.images-section img {
    width: 100%;
    /* width: 300px; */
    box-shadow: 0 4px 8px #00000073;
}
.screen-center {
    margin-bottom: 18px;
    text-decoration: none;
}
.container-screen p {
    margin-bottom: 15px;
    margin-top: 20px;
}
.Admin-panel, .Shortcodes, .Videos {
    display: flex;
    flex-direction: column;
}
.Admin-panel, .Shortcodes {
    margin-right: 15px;
}
/* ==========SECTION-СПИСОК========== */
.container-lists {
    display: flex;
    flex-direction: column;
}
.container-spisok {
    display: flex; 
    justify-content: space-around;
    margin-bottom: 35px;
    font-size: 14px;
    color: #5c646e;
}
.Lists, .Ordered, .Unstyled {
    padding-right: 10px;
    line-height: 20px;
}
.h1-section {
    color: #a5adb8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
}
.h2-section {
    color: #282d33;
    font-size: 18px;
    font-weight: bold;
}
.Right-p {
    font-size: 14px;
    color: #5c646e;
}
.aside-bottom-link {
    font-size: 12px;
    color: #95161f;
    margin-top: 17px;
}
.Left-p {
    font-size: 12px;
    color: #5c646e;
    line-height: 18px;
}
.Right-lists {
    font-size: 14px;
    font-weight: bold;
    color: #5c646e;
}
 .Right-li {
    padding-left: 25px;
}
.Right-li .Bottom-li {
    padding-left: 12px;
}
.Bottom-li {
    list-style: disc;
}
.Unstyled li {
    padding-left: 8px;
}
.Ordered ol {
    padding-left: 18px;
}
.Span-lists {
    font-size: 12px;
    font-weight: normal;
    background: #dedede;
}
/* ==========SECTION-ТАБЛИЦА========== */
.section-table {
    display: flex;
    flex-direction: column;
}
.section-table th {
    color: #f3eced;
    background: #9c4757;
    padding: 0 22px;
}
.bold-th th {
    font-weight: bold;
}
.section-table td {
    padding-left: 15px;
    padding-right: 30px;
}
.Table .number-table {
    color: #9da4af;
    background: #282d33;
    font-weight: 0;
}
.section-table tr {
    color: #9da4af;
    background: #282d33;
}
.section-table a {
    color: #d08b98;
}
.section-table table {
    border-collapse: collapse;
}
.section-table td, th {
    border: 1px solid #d8dbde;
    height: 35px;
    vertical-align: middle;
}
.Table {
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.table-right-top {
    border-top-right-radius: 10px;
}
.table-left-top {
    border-top-left-radius: 10px;
}
.table-right-bottom {
    border-bottom-right-radius: 10px;
}
.table-left-bottom {
    border-bottom-left-radius: 10px;
}
/* ==========FOOTER-НИЗ========== */
.h2-footer {
    color: #a5adb8;
    font-size: 18px;
    font-weight: bold;
}
.cherry-footer {
    color: #ae4b5d;
}
.footer-RED {
    display: flex;
    justify-content: space-around;
    background: #293032;
    width: 100%;
    border-top: 8px solid #ae4b5d;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    /* width: 60%; */
    width: 1200px;
}
.footer-2 li {
    padding-left: 2px;
    color: #9c4757;
}
.footer-2 li span {
    color: #85898f;
}
.footer-2 .Call {
    font-size: 14px;
    font-weight: bold;
    color: #a5adb8;
}
.footer-1, .footer-2, .footer-3 {
    width: 270px;
    padding: 32px 7px 27px 7px;
    font-size: 12px;
    color: #85898f;
}
.footer-3 a {
    color: #d08b98;
}
footer hr {
    border: none;
    color: #40474f;
    background-color: #40474f;
    border-top: 1px solid black;
    height: 1px;
    margin: 10px 0 13px 0;
}
.togphone, .Call, .adress {
    line-height: 1.99em;
}
footer .adress {
    padding-left: 5px;
}
footer .togphone {
    padding-left: 17px;
}
footer .Call {
    padding-left: 2px;
}
.oclock {
    padding-left: 5px;
    margin: 16px 0 22px 0;
}
.oclock .img-oclock1 {
    display: flex;
    margin-top: 7px;
}
.img-oclock1 img {
    margin-right: 9px;
}
.S-N {
    display: flex;
}
.S-N p {
    display: flex;
    align-items: center;
    margin-right: 22px;
}
.S-N img {
    margin-right: 6px;
}



/* ==========MEDIA========== */


@media only screen and (max-width: 1220px) {

    .container-section {
        display: flex;
        width: 100%;
    }
    .top {
        display: flex;
        width: 100%;
    }
    .container-header {
        display: flex;
        width: 100%;
    }
    .Article-top {
        display: flex;
        width: 100%;
    }
    nav {
        display: flex;
        width: 100%;
    }
    .container-footer {
        display: flex;
        width: 100%;
    }
    .menu-center {
        display: flex;
        padding: 10px;
    }
}
@media only screen and (max-width: 800px) {
    .container-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .left-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 432px;
    }
    .menu-left {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .A-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 30px 0 20px;
    }
    .section-center {
        display: flex;
        flex-direction: column;
        width: 98%;
        padding: 10px 10px 30px 15px;
    }
    .container-article {
        display: flex;
        align-items: center;
        width: 96%;
        padding: 10px 0;
        border-top: 1px solid #d8dbde;
        border-bottom: 1px solid #d8dbde;
    }
    .container-screen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 96%;
        padding: 10px 0;
        border-top: 1px solid #d8dbde;
        border-bottom: 1px solid #d8dbde;
    }
    .container-screen img {
        width: 100%;
    }
    .screen-center {
        display: flex;
        justify-content: center;
    }
    .container-lists {
        display: flex;
        align-items: center;
        width: 96%;
        padding: 10px 0 0 0;
        border-top: 1px solid #d8dbde;
    }
    .Lists, .Unstyled, .Ordered {
        display: flex;
        flex-direction: column;
        width: 31%;
    }
    .section-table {
        display: flex;
        align-items: center;
        width: 96%;
        padding-top: 10px;
        border-top: 1px solid #d8dbde;
    }
    .container-footer {
        display: flex;
        flex-direction: row;
    }
    .container-footer h2 {
        font-size: 14px;
    }
    .footer-2 .Call {
        font-size: 12px;
    }