<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Cherry</title>

</head>

<body>
        <!-- /* ==========HEADER-ВВЕРХ========== */ -->
    <header>

        <div class="container-header">

            <div class="top-text">

                <h1 class="h1-top">CHERRY</h1>
                <p class="pod-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>

            <div class="sear">
                <label>
                    <input class="search" type="text" name="username" placeholder="Search...">
                </label>
                <a href="#">
                <img class="lupa" src="Img/search.png" alt="Buttom">
                </a>
            </div>

        </div>

    </header>

    <!-- /* ==========HEADER-ТОП========== */ -->
    <section class="top">

        <div class="top1">
            <!-- <p class="eaten"><span class="C">E</span>aten berry </p> -->
            <h1 class="h1-top">Eaten berry</h1>
            <p class="text1">and go for a walk
                <p class="text2"> Today good weather...
                    <p class="text3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                        exercitationem
                        rem quasi provident ipsam nostrum dolor vel amet temporibus deserunt, suscipit veniam
                        doloribus
                        aperiam, sit dolores voluptates non praesentium voluptatum accusantium maiores iure.
                        Unde maxime
                        a libero maiores, quia suscipit? </p>
        </div>

    </section>

    <!-- /* ==========NAV-МЕНЮ========== */ -->
    <nav>

        <li><a href="#">Home</a></li>
        <li><a href="#">Sliders</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Styles</a></li>
        <li><a href="#">Cherry</a></li>
        <li class="Contact"><a href="#">Contact</a></li>

    </nav>

    <!-- /* ==========ARTICLE-МЕНЮ========== */ -->
    <article class="Article-top">

        <li class="leftLi"><a href="#">Home </a></li>
        <p>/</p>
        <li class="centerLi"><a href="#">Another page</a></li>
        <p>/ This Page</p>

    </article>

    <!-- /* ==========ASIDE-МЕНЮ========== */ -->
    <section class="container-section">

        <aside class="left-menu">
            <div class="menu-left">
                <!-- <p class="bold-title-text">Contact Us</p> -->
                <h2 class="h2-section">Contact Us</h2>
                <div class="menu-center">
                    <input type="text" placeholder="Your Name">
                    <input type="number" placeholder="Daytime Number">
                    <input type="email" placeholder="Email Address">
                    <input type="text" placeholder="City">

                    <select name="Paragraph">
                        <option value="Problem" selected>Problem With</option>
                        <option value="Girgls">Girgls</option>
                        <option value="Programm">Programm</option>
                    </select>

                    <select name="Paragraph">
                        <option value="Brand" selected>Brand</option>
                        <option value="Iphone">Iphone</option>
                        <option value="Lamborghini">Lamborghini</option>
                    </select>

                    <li class="clickRED"><a href="#">Lorem ipsum dolor</a></li>

                </div>
            </div>
            <div class="A-bottom"> 
            <h2 class="h2-section aside-bottom">Headline</h2>
            <p class="Left-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis facilis
                alias eligendi corrupti harum voluptatibus, numquam, itaque natus reprehenderit magni similique
                fugit consectetur! Omnis exercitationem amet quod. At ducimus tempora quisquam unde expedita fuga!
            </p>
            <a class="aside-bottom-link" href="#">More about</a>
        </div>
        </aside>

        <section class="section-center">

            <article class="container-article">
            <h1 class="h1-section">What We Do</h1>
            <p class="Right-p">Lorem ipsum dolor sit amet, consectetur, adipisicing elit, sed do elusnod incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation uliamco laboris nisi
                it aliquip ex ea commodo condequat. Duis aute irure dolor in <a class="Right-top-link" href="#">reprehenderit in
                    voluptate velit esse</a> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in qui officia deserunt mollit anim id est laborum. </p>
            </article>

                <!-- /* ==========SECTION-КАРТИНКИ========== */ -->
            <div class="container-screen">
                <div class="Admin-panel">
                    <a class="h2-section screen-center" href="#">Admin panel</a>
                    <a class="images-section" href="#">
                        <img src="Img/admin_panel.png" alt="Admmin panel">
                    </a>
                </div>

                <div class="Shortcodes">
                    <a class="h2-section screen-center" href="#">Shortcodes</a>
                    <a class="images-section" href="#">
                        <img src="Img/shortcodes.png" alt="Shortcodes">
                    </a>
                </div>

                <div class="Videos">
                    <a class="h2-section screen-center" href="#">Videos</a>
                    <a class="images-section" href="#">
                        <img src="Img/videos.png" alt="Videos">
                    </a>
                </div>
            </div>

            <!-- /* ==========SECTION-СПИСОК========== */ -->
            <section class="container-lists">

                <h1 class="h1-section">Lists</h1>
                <div class="container-spisok">
                    <div class="Lists">
                        <p class="Right-lists">List style type circle <span class="Span-lists">"ul"</span></p>
                        <ul class="Right-li">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem, ipsum dolor.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <ul class="Bottom-li">
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>

                    <div class="Unstyled">
                        <p class="Right-lists">Unstyled <span class="Span-lists">"ul class="unstyled"</span></p>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Veniam molestiae assumenda eius reiciendis?</p>
                        <p>Recusandae ut ad quis mollitia.</p>
                        <p>Aspernatur esse quae accusantium deserunt.</p>
                        </ul>
                        <li>Laboriosam inventore vitae quos nisi.</li>
                        <li>Architecto optio esse aperiam blanditiis.</li>
                        <li>Architecto optio esse aperiam blanditiis.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Officiis in adipisci vero maiores.</p>
                    </div>

                    <div class="Ordered">
                        <p class="Right-lists">Ordered <span class="Span-lists">"ol"</span></p>
                        <ol>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Magnam deleniti quasi reiciendis?</li>
                            <li>Harum nostrum at illum?</li>
                            <li>Unde dolorem adipisci eum!</li>
                            <li>Sapiente quibusdam quis dolor!</li>
                            <li>Consequuntur iste delectus atque?</li>
                        </ol>
                    </div>
                </div>

            </section>

            <!-- /* ==========SECTION-ТАБЛИЦА========== */ -->
            <section class="section-table">

                <h1 class="h1-section">Table</h1>
                <div class="Table">
                    <table>
                        <tr class="bold-th">
                            <th class="table-left-top">№.</td>
                            <th>Torantom rate</td>
                            <th>Puranocak var berond</td>
                            <th>Intime modular to cavan</td>
                            <th class="table-right-top">Language</td>
                        </tr>
                        <tr>
                            <th class="number-table">1</th>
                            <td>Consequatur?</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                            <td>Nulla.</td>
                            <td><a href="#">Lorem ipsum</a></td>
                        </tr>
                        <tr>
                            <th class="number-table">2</th>
                            <td>Quos.</td>
                            <td>Possimus.</td>
                            <td>Facilis!</td>
                            <td><a href="#">Modul caram</a></td>
                        </tr>
                        <tr>
                            <th class="number-table">3</th>
                            <td>Quae.</td>
                            <td>Quis.</td>
                            <td>Sequi.</td>
                            <td><a href="#">Victorian</a></td>
                        </tr>
                        <tr>
                            <th class="number-table">4</th>
                            <td>Beatae?</td>
                            <td>Eius.</td>
                            <td>Iusto?</td>
                            <td><a href="#">Jacon van dor</a></td>
                        </tr>
                        <tr>
                            <th class="number-table">5</th>
                            <td>Enim?</td>
                            <td>Pariatur.</td>
                            <td>Aperiam!</td>
                            <td><a href="#">Inpuction mian</a></td>
                        </tr>
                        <tr>
                            <th class="number-table">6</th>
                            <td>Fugiat.</td>
                            <td>Vitae.</td>
                            <td>Excepturi?</td>
                            <td><a href="#">Pivatior naron</a></td>
                        </tr>
                        <tr>
                            <th class="number-table table-left-bottom">7</th>
                            <td>Ipsum.</td>
                            <td>Quae.</td>
                            <td>Laborum.</td>
                            <td class="table-right-bottom"><a href="#">Inbug fot cars</a></td>
                        </tr>
                    </table>
                </div>
            </section>

        </section>

    </section>

    <!-- /* ==========FOOTER-НИЗ========== */ -->
    <footer class="footer-RED">
        <div class="container-footer">

            <section class="footer-1">

                <h2 class="h2-footer"><span class="cherry-footer">C</span>HERRY Hours</h2>
                <hr>
                <p>We are open 24/7</p>

                <div class="oclock">

                    <div class="img-oclock1">
                        <img src="Img/clock.png" alt="clock">
                        <p>Night! Absilutely No Extra Charge</p>
                    </div>

                    <div class="img-oclock1">
                        <img src="Img/clock.png" alt="clock">
                        <p>Weekends! Absolutely No Extra Chargre</p>
                    </div>

                    <div class="img-oclock1">
                        <img src="Img/clock.png" alt="clock">
                        <p>Hoolidays! Absolutely No Extra Chargre</p>
                    </div>


                </div>

                <div class="S-N">
                    <p>Мы в социальных сетях:</p>
                    
                    <a href="#"><img src="Img/facebook.jpg" alt="facebook"></a>
                    <a href="#"><img src="Img/twitter.jpg" alt="twitter"></a>
                    <a href="#"><img src="Img/vk.jpg" alt="vk"></a>
                </div>

            </section>

            <section class="footer-2">
      
                <h2 class="h2-footer">Local <span class="cherry-footer">C</span>HERRY</h2>
                <hr>

                <div class="togphone">
                    <ul>
                        <li><span>West Hollywood (323) 221-1107</span></li>
                        <li><span>Beverly Hills (310) 202-5428</span></li>
                        <li><span>Pasadena (626) 296-2664</span></li>
                        <li><span>West Hills (805) 531-5083</span></li>
                        <li><span>Los Angeles (213) 389-4381</span></li>
                    </ul>
                </div>
                <p class="Call">Call Us Toll Free 1-800-287-0919</p>
            </section>

            <section class="footer-3">
        
                <h2 class="h2-footer Our-Los">Our Los Angeles Location</h2>
                <hr>

                <div class="adress">
                    <p>Steve Smith</p>
                    <p>Hi-Tech Cherry Company</p>
                    <a href="mailto:info@cherrycompany.com">info@cherrycompany</a>
                    <p>5104 W. Washington Blvd</p>
                    <p>Los Angeles, CA, 90016 United States</p>
                    <p>(800) 287-0919</p>
                </div>

            </section>
        </div>
    </footer>
</body>

</html>